.index_bg
{
    background: url("../../images/index_bg.gif");
    background-size: 100% 100%;
}
.xingming
{
    margin-top: 15%;
    background-color: transparent;
    border: 1px solid #76c0e8;
    color: #fff;
    width: 100%;
    padding: 2%;
    font-size: 110%;
}
.shouji
{
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid #76c0e8;
    color: #fff;
    width: 100%;
    padding: 2%;
    font-size: 120%;
}
.bianhao
{
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid #76c0e8;
    color: #fff;
    width: 100%;
    padding: 2%;
    font-size: 120%;
}
.index_denglu
{
    background-color: #ed6e02;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 7%;
    margin-bottom: 23%;
    font-size: 120%;
    width:100%;
    border:0px;
}
.shouye_toubuzi
{
    color: #fff;
    font-size: 130%;
    text-align: center;
    line-height: 180%;
}
.shouye_toububg
{
    background-color: #355ec9;
}
.index_fanhuitu
{
     width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
}
.index_fanhuicd
{
    width: 50%;
    float: right;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 15%;
}
.shouye_xiakuanwai
{
    margin: 1% 0.5% 1% 0.5%;
    width: 99%;
    background:url(../images/menu_bg.png?v=630) no-repeat;
    background-size: 100%;
}
.shouye_tubiao
{
     margin-right:0.5%;
     margin-left:0.5%;
     margin-bottom:1.2%;
     width: 99%;
}

.hyzc_han
{
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fff;
    border-radius: 2px;
    padding-top: 2%;
    padding-bottom: 2%;
	line-height:30px;
}
.hyzc_bg
{
    background-color: #e8e8e8;
}
.hyzc_wenben
{
    width: 100%;
    border: 0px;
    font-size: 110%;
}
.hyzc_wenzi
{
    color: #a9a8ae;
    font-size: 120%;
    text-align: right;
}
.hyzc_bitian
{
    color:red;
    text-align: center;
	font-size:80%;
	margin-top:3%;
}
.hyzc_sex
{
    margin-left: 50%;
}
.hyzc_xialakuan
{
    width: 100%;
    border: 0px;
}
.hyzc_zhuce
{
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    background-color: #84b263;
    color: #fff;
    margin-top: 10%;
    font-size: 130%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.rdwt_bt
{
    text-align: center;
    font-size: 130%;
}
.zjxx_dixian
{
    margin-top: 2%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid #d1d1d1;
}
.zjxx_nr
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:5%;
}
.zjxx_dym
{
    font-size: 140%;
    font-weight: bold;
       width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.zjxx_js
{
    font-size: 110%;
    margin-top: 2%;
}
.jdxx_didianwai
{
    width: 94%;
    margin: 3%;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 3%;
}
.jdxx_jiachu
{
    font-weight: bold;
}
.rdwt_title
{
    color: #ee5468;
    font-size: 120%;
    margin-top: 2%;
}
.rdwt_content
{
    margin-top: 3%;;
    color: #9da6b0;
}
.rdwt_han
{
    width: 96%;
    padding: 1%;
    border-bottom: 1px solid #e8e8ea;
}
.rdwt_hantu
{
    width: 90%;
    padding: 5%;
}
.zjxx_search
{
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 2%;
}
.search_srk
{
    border: 0px;
    width:90%;
    outline:none;
}
.search_tu
{
    width: 40%;
    margin: 5%;
    margin-left: 0%;
}
.zjxx_touxiang
{
    width: 100px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
	height:110px !important;
	overflow:hidden;
	border:1px solid #ccc;
	background:#ddd !important;
	max-height:110px !important;
}
.zjxx_name
{
    color: #d05a2a;
    font-size: 110%;
}
.zjxx_nrjj
{
    color: #707070;
    font-size: 90%;
    height:72px;
    overflow:hidden;
}
.zjxx_jianhao
{
    width: 30%;
    margin: 35%;
    margin-top: 60%;
}

.zjxx_han
{
    margin-top: 5%;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 2%;
}

/*2015-07-17*/
.listmenu
{
	background:#fff;
}
.listmenu li
{
	padding:2% 0;
	border-bottom:1px dotted #ccc;
	text-indent:2em;
}
.zjxx_photo
{
     width: 100%;

    }
.index_myimg
{
    width: 100%;

 }
/*2015-07-25 小徐*/
.reg_success
{
	padding-top:20%;
	text-align:center;
}
.reg_success_img
{
	width:100%;
}

.reg_success_tip
{
	font-size:150%;
	color:#0b5bb2;
	padding-top:3%;
	padding-bottom:3%;
	text-align:center;
}
.reg_success_miao
{
	font-size:110%;
	color:#999;
	padding-top:5%;
	padding-bottom:15%;
}
.reg_success_back
{
	font-size:110%;
	color:#999;
	padding-top:3%;
}
.reg_success_backbtn
{
	margin:3% auto 10%;
}
.reg_success_backtext
{
	margin:3% auto 5%;
}
.reg_success_backbtn a
{
	padding:2% 6%;
	background:#0b5bb2;
	color:#fff !important;
	border-radius:5px;
	
}
.reg_bottom_btn
{
    color:#fff;
    border:none;
    background:none;
}
.reg_zhuce_xiala
{
    }
.reg_zhuce_xiala select
{
    padding:2% 10%;
    border:1px solid #ccc;
    background:#fff;
    border-radius:3px;
}
/*2015-07-27*/
.exp_info_img
{
    margin-top:3%;
 }
 .mee_info_bg
 {
     width:90%;
     margin:3% 5%;
     min-height:390px;
 }
 .mee_info_bg img
 {
     display:block;
     max-width:100%;
     height:auto;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.piaofu
{
    max-width:200%;
    max-height:200%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:9999;
    }
.bottom_btn
{
    
    text-align:center;
    margin:1% 0 0;
}
.bottom_btn a
{  
    width:100%;
    padding:4% 0; 
   display:block;
   color:#fff !important;
   text-decoration:none;
   background:#d6000f;
 }
 
 /*2015-07-29*/
 .exlist-photo
 {
     width:auto;
     max-height:90px;
     max-width:100%;
     
 }
 .head-touxiang
 {
     margin-top:50%;
  }
 
 .head-photo
 {
     width:60%;
     margin-left:20%;
     margin-right:20%;
     border-radius:10px;
     height:140px;
     
    
 }
 .head-photo-upbg
 {
     margin-top:5%;
  }   
 .head-photo-up
 {

    
     width:70%;
     margin-left:15%;
     margin-right:15%;
  } 
 
 /*2015-07-31*/
 .l-w100
 {
     margin:2% 3% 3% 1%;
     width:96%;
  }
  .r-w100
 {
     margin:2% 1% 3% 3%;
     width:96%;
  }
.shouye-biankuang2
{
    width:96%;
    margin:2% 2% 3%;
 }
 .bottom-bianju
 {
     margin-top:12%;
     padding:3% 0;
  }

/*2015-08-04*/
.list_one
{
    width:63%;

 }
 .list_two
 {
     width:37%;
 
 }
 .list_three
 {
     width:47.06%;
  }
 .list_four
 {
    width:52.94%;
}
.zc_icon
{
    width:100%;
    margin-bottom:0.5%;
 }

  .left_icon
  {
      width:99%;
      margin-left:1%;
      margin-bottom:0.5%;
  }
  .left_icon2
  {
      width:99%;
      margin-top:0.5%;
      margin-left:1%;
      margin-bottom:0.5%;
      
      }
  .right_icon
  {
      width:99%;
      margin-right:0.5%;
      margin-bottom:0.5%;
      margin-top:0.5%;
   }
     .right_icon2
  {
      width:99%;
      margin:0.5%;
   }
   .bottom_icon
   {
       margin-bottom:0.5%;
   }
   
     .left_icon3
  {
      width:99%;
      margin-right:1%;
      margin-top:0.5%;
  }
       .left_icon4
  {
      width:99%;
      margin-left:1%;
      margin-top:0.5%;

  }
  
       .right_icon5
  {
      width:99%;
       margin-top:0.5%;
   }
          .right_icon6
  {
      width:99.5%;
       margin-top:0.5%;
      margin-left:0.5%;
      margin-bottom:0.5%;
   }
 
.icon_a
{
    width:99%;
    margin:0 0% 1% 1%;
 }
 .icon_b
 {
     width:98%;
     margin-left:1.5%;
     margin-right:0.5%;
     margin-bottom:1%;
 }
 .icon_c
 {
     width:97%;
     margin-left:2%;
     margin-right:1%;
     margin-bottom:1%;
  }
  .icon_d
  {
      width:98%;
      margin-left:1%;
      margin-right:1%;
      margin-bottom:1%;
}
.icon_e
{
    width:98%;
    margin:0% 1% 1% 1%;
}

.margin_icon
{
    width:62.7%;
    margin-left:1%;
}
.margin_icon_a
{
    width:36.3%;
 }
 .margin_icon_aa
 {
     width:100%;
     margin-bottom:1%;
 }
 .margin_icon_ab
 {   width:99%;
     margin-right:0.5%;
     margin-left:0.5%;
     margin-bottom:0.5%;
 }
 .margin_icon_ac
 {
     width:98.5%;
     margin-left:1%;
     margin-right:0.5%;
 }
 .margin_icon_ad
 {
     width:99%;
     margin-left:0.5%;
     margin-right:0.5%;
 }
 .margin_icon_b
 {
     width:47.7%;
 }
 .margin_icon_bb
 {
     width:52.3%;
  }
  .margin_icon_bc
  {
      width:97.5%;
      margin-left:2.5%;
      margin-bottom:1%;
  }
  .margin_icon_bd
  {
      width:99%;
      margin:0 0.5% 1%;
  }
  
  .touming
  {
      filter: alpha(opacity=0); /* IE兼容 */
    -khtml-opacity: 0;      /* safari */
    -moz-opacity: 0;       /* mozilla, netscape */
    opacity: 0; 
}

/*2015-09-02*/
/*.reg_hyselect
{
    padding:3% 0;
    margin:0% 1%;
    width:98%;
    
 }  2015-12-110*/
 
 /*2015-11-26*/
 .hy_jiudian_jieshao{
    width:94%;
	margin:1% 3%;
	border-bottom:1px solid #edf0f4;
	font-size:100%;
	padding:2% 0;
}
.hy_jiudian_jieshao img
{
	text-align:center;
}
.hy_jiudian
{
     width:94%;
	 margin:0 3% 2%;
	 font-size:111%;
}
.hy_jiudian_li
{
	padding:3.5% 0;
	border-bottom:1px solid #d8dee7;
	vertical-align:middle;
	display:inline-block;
	line-height:30px;
}
.hy_xuanzhezhusu
{
	font-size:111%;
	color:#333;
	font-weight:600;
}
.hy_jiudian_li select
{
    width:100%;
	border:1px solid #fff;
	color:#444;
}
.hy_tijiao
{
    background:#ee8303;
	color:#fff;
	padding:4.5% 0;
	width:100%;
	border:0;
	border-radius:3px;
	text-align:center;
	font-size:110%;
	margin-top:10%;
	margin-bottom:3%;
}
.hy_qiehuan_a
{
	padding:3% 0;
	border-bottom:1px solid #d8dee7;
	color:#666;
	text-align:center;
}
.hy_qiehuan_b
{
	padding:3% 0;
	text-align:center;
	color:#355ec9;
	font-weight:600;
	border-bottom:2px solid #355ec9;
}
.hy_jt
{
    width:100%;
	border:1px solid #fff;
}
.hy_jt_rili
{
    width:70%;
	margin-left:30%;
}
.hy_xinxi_li
{
    width:100%;
	padding:4% 0;
	border-bottom:1px solid #ccc;
	font-size:110%;
	color:#333;
	display:inline-block;
}
.hy_xinxi_icon
{
    width:30%;
	margin-left:30%;
}

/*2015-12-02*/
.hy_jt_tip
{
   color:#F00;
   text-align:center;
   padding:2% 0;
   border-bottom:1px solid #e8ebf1;
}

/*2015-12-09*/
.hy_dengji
{
    padding:15% 0 10%;
	width:90%;
	margin:0 5%;
	font-size:115%;
}
.hy_dengji_tip
{
	text-align:center;
	margin-bottom:12%;
	color:#666;
}
.hy_dengji_a
{
   margin-top:4%;
   margin-bottom:2%;
}
.hy_dengji_text
{
    padding-top:12%;
}
.hy_dengji_input
{
   width:100%;
   border-radius:3px;
   border:1px solid #ccc;
   padding:4% 0;
}
.hy_dengji_tj
{
    margin-top:15%;
	text-align:center;
	font-size:120%;
}
.hy_dengji_tjbtn
{
    background:#035db0;
	color:#fff;
	border-radius:3px;
	padding:5% 0;
	width:100%;
	border:0;
}

/*2015-12-10*/
.nice-select {
	height: 30px;
	border: 1px solid #ccc;
	position: relative;
	box-shadow: 0 0 2px #ccc;
	background: #fff url(../../images/a2.png) no-repeat right center;
	cursor:pointer;
	border-radius:3px;
}
.nice-select select {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px \9;
	border: 0;
	outline: 0;
	background: none;
	cursor:pointer;
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
	text-indent:0.5em;
}

/*2015-12-11*/
/* 酒店单选框 */

.regular-radio {
	display: none;
}
.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	vertical-align:middle;
	margin-right:3%;
}
.regular-radio:checked + label:after {
	content: ' ';
	width: 10px;
	height: 10px;
	border-radius: 50px;
	position: absolute;
	top: 2px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 2px;
	font-size: 32px;
}
.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
	vertical-align:middle;
	margin-right:3%;
}

/*2015-12-12*/
.hy_zc_width{
     width:90%;
	 margin:0 5%;
}

/**2016-02-24**/
.hy_jiudian_jieshao
{
   font-size:110%;
}
.hy_jiudian_jieshao table,.hy_jiudian_jieshao p
{
    width:100% !important;
}
.hy_jiudian_jieshao img
{
   display: block;
    max-width: 100%;
    height: auto;
}

/**2016-02-26**/

.meeting_linebg
{
    width:96%;
	padding:2% 0%;
	background:#fff;
	margin:3% 2% 8%;
	border:1px solid #d5d5d5;
	border-radius:3px;
}
.meeting_line
{
    width:96%;
	margin:0 2%;
}
.meeting_img
{
    width:100%;
}

.meeting_line_bt
{
	height:49px;
	overflow:hidden;
	font-size:110%;
	color:#000;
	padding-top:2%;
}
.meeting_line_time
{
   font-size:94%;
   color:#999;
   padding-top:1%;
   text-overflow:ellipsis;
   -o-text-overflow:ellipsis;
   white-space:nowrap;
   overflow:hidden;
}

/**2016-03-10**/
.meeting-zhichi
{
   margin-top:30%;
}
.m_zhichi_zi
{
   font-size:90%;
   color:#999;
   text-align:center;
}

/*2016-03-23*/
.hy_canjia
{
    width: 95%;
    background-color: #e72429;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10% 0;
    margin-top: 8%;
    margin-left: 5%;
    font-size: 115%;
}
.hy_yijieshu
{
    background-color: #ccc;
    color: #999;
    width: 95%;
    border: 0;
    border-radius: 5px;
    padding: 10% 0;
    margin-top: 8%;
    margin-left: 5%;
    font-size: 115%;
	
}
/**2016-03-24**/
.zhuanjia_right
{
    margin-left:3%;
	width: 55.333333333333336%
}

/**2016-04-01**/
.loading,.reg_bottomzi
{
    text-align:center;
}

/**2016-04-08**/
.shuoming_search
{
    width:96%;
	margin:4% 2%;
}
.shuoming_s_input
{
    width:96%;
	border-radius:10px;
	border:1px solid #dfdfdf;
	padding:3% 0;
	text-indent:0.5em;
	outline:none;
	color:#000;
}
.shuoming_s_btn
{
    width:98%;
	margin-left:2%;
	border-radius:10px;
	background:#a4b1d2;
	text-align:center;
	padding:9% 0;
	border:0;
	outline:none;
	color:#fff;
	font-size:105%;
}
.shuoming_hy
{
    width:100%;
	padding:3% 0 0;
	background:#fff;
	font-family:"微软雅黑";
}
.shuoming_hy_li
{
    padding:4% 0;
	border-bottom:1px solid #eaeaea;
	width:100%;
}
.shuoming_hy_nr
{
   width:94%;
   margin:0 3%;
}
.shuoming_hy_zi
{
   font-size:115%;
   color:#000;
   width:100%;
   overflow:hidden;
   text-overflow:ellipsis;
   -o-text-overflow:ellipsis;
   white-space:nowrap;
}
.shuoming_hy_icon
{
   float:right;
}
.shuoming_back
{
    width: 56%;
    margin: 0% 15% 0% 25%;
}

.shuoming_top
{
   padding:2% 0;
}
.shuoming_xqnr
{
   width:94%;
   margin:2% 3%;
}

/**2016-04-18**/
.bottom_btn2
{
   border-top:1px solid #BF0615;
}
.bottom_btn2 a
{
    width: 100%;
    padding: 12% 0;
    display: block;
    color: #fff !important;
	background:#ff4400;
	border-right:1px solid #BF0615;
	font-size:115%;
}
.hyxxzhuce_btn
{
    width: 100%;
    padding: 5% 0;
    border-radius: 6px;
    border: 0;
    font-size: 120%;
    margin: 10% 0 6%;
    color: #fff !important;
    background-color: red;
	display: block;
    text-align: center;
}

.hy_guanzhu
{
    width:100%;
	height:100%;
	background:url(../images/zhezhao-bg.png) repeat;
	background-size:100% 100%;
	z-index:99999;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
.hy_guanzhu_img
{
   width:100%;
   margin-top:90%;
}
.hy_guanzhu_close
{
    width:40px;
	height:40px;
	border:2px solid #fff;
	border-radius:100px;
	color:#fff;
	text-align:center;
	position:absolute;
	top:10%;
	right:10%;
	line-height:36px;
	font-size:200%;
}
.hy_jiaguanzhu
{
    margin-top: 3%;
    font-size: 120%;
    text-align: center;
    color: #fff;
}

/*苏建金2016-05-20*/
 .hy_jiudian_jieshao iframe
 {
    width:100% !important;
}

/*苏建金2016-06-29*/
.mall_bottom{
	background:url(../images/mall_bottombg.png) no-repeat;
	background-size:100% 100%;
	padding:2% 0;
	}
    .mall_dbmenu
{
    width:20%;
}
.mall_bottom_gz
{
    width:60%;
	margin:5% 20%;
}


                    .container img
{
    max-width: 100%;
}