<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>注册</title>
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<style type="text/css" rc="js/aui.js"></style>
<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Home/js/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/easycss/aui.min.css">
<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
<link rel="stylesheet" href="__ROOT__/Public/Home/easycss/style.css">
<style type="text/css">
  .goLogin{float: right;color: #333;}
</style>
</head>
<body>
  <!--header 开始-->
  <header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
    <h1 class="mui-title">注册</h1>
  </header>
  <!--header 结束-->
  <div class="mui-content">
    <div class="page">
      <div class="main">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
           <div class="item item-username">
            <input class="txt-input txt-username" type="text" name="name" placeholder="姓名" value="">
          </div>
            <div class="item item-username">
            <input class="txt-input txt-username" type="number" name="tel" placeholder="手机"  id="tel">
          </div>
          <div class="item item-username">
            <input class="txt-input txt-username" type="password" name="password" placeholder="密码" value="">
          </div>

           <div class="item item-username">
            <input class="txt-input txt-username" type="password" name="password1" placeholder="确认密码" value="">
          </div>

           <div class="item item-username">
            <input class="txt-input txt-username" type="text" name="email" placeholder="邮箱"  id="tel">
          </div>
          <div class="item item-username">
            <input class="txt-input txt-username" type="text" name="splace" placeholder="始发地"  id="tel">
          </div>
          <div class="item item-username">
            <input class="txt-input txt-username" type="text" name="eplace" placeholder="目的地"  id="tel">
          </div>

          <div class="item item-username">
            <select class="form-control input-lg" name="hangban">
                        <option value="">---航班信息---</option>
                            <option value="飞机">飞机</option>
                            <option value="其他">其他</option>
                        </select>
          </div>

           

           <div class="item item-username">
            <input class="txt-input txt-username" type="text" name="number" placeholder="航班编号"  id="tel">
          </div>

          <div class="item item-username">
            <input class="txt-input txt-username" type="date" name="begindt" placeholder="出发日期"  id="tel">
          </div>

           <div class="item item-username">
            <input class="txt-input txt-username" type="date" name="enddt" placeholder="到达日期"  id="tel">
          </div>

           <div class="item item-username">
            <input class="txt-input txt-username" type="text" name="campany" placeholder="公司全称"  id="tel">
          </div>

       <!--    <div class="item item-captcha">
            <div class="input-info">
              <input id="validateCode" class="txt-input txt-captcha" type="text" placeholder="手机验证码">
              <b class="input-close" style="display: block;"></b> <button class="captcha-img" id="getTelCode" type="button">获取验证码 </button> </div>
          </div> -->
          
          <div class="ui-btn-wrap">

           <!-- <button class="ui-btn-lg ui-btn-primary" type="submit">确认注册</button>  -->
           <input type="submit" class="ui-btn-lg ui-btn-primary" value="确认注册" style="background: #007aff;" >
           </div>
          <span class="goLogin">已有账号?<a href="login.html">立即登录</a></span>
        </form>
      </div>
   
    </div>
  </div>


</body>
</html>
