<div class="short-nav dropdown">
    <a href="http://www.medmeeting.org/MiniSite/Content/20393?type=1#" class="dropdown-toggle fr" data-toggle="dropdown" id="dropdownMenu2">
        <i class="iconfont icon-menu"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/Home/Index/hangban">
                <i class="iconfont icon-huanying2"></i>
                航班信息
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/Home/Index/richeng">
                <i class="iconfont icon-zhuban"></i>
                会议日程
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/Home/Index/hudong">
                <i class="iconfont icon-k11"></i>
                互动空间
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="iconfont icon-richeng"></i>
                文化衫
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="iconfont icon-edit-alt"></i>
                交通信息
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="iconfont icon-jiudian"></i>
                酒店周边
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="iconfont icon-tags"></i>
                通知
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="iconfont icon-fax"></i>
                联系我们
            </a>
        </li>

    </ul>
</div>